<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll('.toggle-label').forEach(labelEl => {
            const baseText = labelEl.dataset.label;
            labelEl.textContent = '▶ ' + baseText;
          });
    });
    
    function toggleTextContent(id, labelEl) {
      const content = document.getElementById(id);
      const isExpanded = content.classList.contains('expanded');
      const baseText = labelEl.dataset.label;
    
      labelEl.textContent = (isExpanded ? '▶ ' : '▼ ') + baseText;
    
      if (isExpanded) {
        content.classList.remove('expanded');
        content.style.maxHeight = '0px';
        content.style.display = 'none';
      } else {
        content.classList.add('expanded');
        content.style.display = 'block';
        content.style.maxHeight = content.scrollHeight + 'px';
      }
    }    
</script>