<!-- {% assign posts = site.categories[include.taxonomy] | where_exp: "post", "post.hidden != true" %}
{%- for post in posts -%}
  {% include archive-single.html %}
{%- endfor -%} -->

{% assign posts = paginator.posts | default: site.categories[include.taxonomy] %}
{% if posts %}
  <div class="entries-{{ include.type }}">
    {% for post in posts %}
      <div class="post-entry">
        {% include archive-single.html type=include.type %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <p><strong>{{ include.taxonomy }}</strong> 카테고리에 해당하는 포스트가 없습니다.</p>
{% endif %}
