{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}
    {% include author-profile.html %}
  {% endif %}

  <li><hr class="nav-divider" /></li>

  <nav class="nav__list">
    <input type="checkbox" id="sidebar-cat-toggle" />
    <label for="sidebar-cat-toggle" class="nav__subtitle">
      <span class="nav__arrow"></span> Category
    </label>

    <ul class="nav__items">
      <li>
        <a href="{{ '/categories/' | relative_url }}" class="nav__item category-button{% if page.url == '/categories/' %} active{% endif %}">
          ALL <span class="count">({{ site.posts | size }})</span>
        </a>
      </li>

      {% assign category_nav = site.data.navigation.main | where: "title", "Category" | first %}
      {% if category_nav %}
        {% include sidebar-items.html items=category_nav.children %}
      {% endif %}

      <li><hr class="nav-divider" /></li>
    </ul>

    <div class="sidebar__search">
      <form id="sidebar-search" onsubmit="return SidebarSearchHandler();">
        <div class="search-block">
          <select id="search-type">
            <option value="title">Title</option>
            <option value="tag">Tag</option>
            <option value="both">Title + Tag</option>
          </select>
        </div>
        <div class="search-block">
          <input type="text" id="search-query" placeholder="Search input" />
        </div>
        <div class="search-block">
          <button type="submit"><i class="fa fa-search"></i> Search</button>
        </div>
      </form>
    </div>
  </nav>
</div>
{% endif %}
