{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">

  {% if page.author_profile or layout.author_profile %}
    {% include author-profile.html %}
  {% endif %}

  <nav class="nav__list">
    <ul class="nav__items">

      <li class="nav__title">Category</li>
      <li><hr class="nav-divider"></li>

      <li>
        <a href="{{ '/categories/' | relative_url }}" class="nav__item{% if page.url == '/categories/' %} active{% endif %}">
          ALL <span class="count">({{ site.posts | size }})</span>
        </a>
      </li>

      {% assign category_nav = site.data.navigation.main | where: "title", "Category" | first %}
      {% if category_nav %}
        {% include sidebar-items.html items=category_nav.children %}
      {% endif %}

    </ul>
  </nav>

</div>
{% endif %}
