{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">

  {% if page.author_profile or layout.author_profile %}
    {% include author-profile.html %}
  {% endif %}

  <nav class="nav__list">
    <ul class="nav__items">

      <!-- HOME -->
      <li>
        <a href="{{ '/' | relative_url }}" class="nav__item{% if page.url == '/' %} active{% endif %}">
          Home
        </a>
      </li>

      <!-- Divider -->
      <li><hr class="nav-divider"></li>

      <!-- CATEGORY TITLE -->
      <li class="nav__title">Category</li>

      <!-- All -->
      <li>
        <a href="{{ '/categories/' | relative_url }}" class="nav__item{% if page.url == '/categories/' %} active{% endif %}">
          - All <span class="count">({{ site.posts | size }})</span>
        </a>
      </li>

      <!-- Dynamic categories -->
      {% assign sorted_categories = site.categories | sort %}
      {% for category in sorted_categories %}
        {% assign cat_name = category[0] %}
        {% assign cat_posts = category[1] %}
        <li>
          <a href="{{ '/categories/' | append: cat_name | append: '/' | relative_url }}"
             class="nav__item{% if page.url == '/categories/' | append: cat_name | append: '/' %} active{% endif %}">
            - {{ cat_name | capitalize }} <span class="count">({{ cat_posts | size }})</span>
          </a>
        </li>
      {% endfor %}

    </ul>
  </nav>

</div>


{% endif %}
