/* ==========================================================================
   TABLES
   ========================================================================== */
   table {
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    table-layout: auto;
  }
  
  thead {
    background-color: $border-color;
    border-bottom: 2px solid mix(#000, $border-color, 25%);
  }
  
  th {
    padding: 0.6em 1em;
    font-weight: bold;
    text-align: start;
  }
  
  td {
    padding: 0.6em 1em;
    border-bottom: 1px solid mix(#000, $border-color, 25%);
  }
  
  tr,
  td,
  th {
    vertical-align: middle;
  }
  
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-left: 0;
    margin-right: 0;
  }
  